<h1>New Comment</h1>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: params[:post_id] %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_area :body %>
  <%= f.submit "Comment" %>
<% end %>