<%= render 'users/shared/error_messages' %>

<div class="forgot-password">
  <h2>Forgot Your Password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send reset email" %>
    </div>
  <% end %>
</div>