<div class="post-display">
  <div class="post">
    <div class="post-details">
      <p class="post-author"><%= @post.user.first_name %> <%= @post.user.last_name %></p>
      <p class="post-date"><%= @post.created_at.strftime("%-m/%-d/%Y") %></p>
      <p class="post-likes-counter"><%= @post.likes.count %> likes</p>
    </div>
    <div class="post-body">
      <p><%= @post.body %></p>
      <% if @post.photo.attached? %>
        <%= image_tag @post.photo.variant(resize: "800x400"), class: "post-body-image" %>
      <% end %>
    </div>
    <div class="post-options">
      <%= link_to "Remove", post_path(params[:id]), method: :delete, class: "post-remove" if current_user.id == @post.user.id %>
      <% currently_liked = Like.find_by(liking_user_id: current_user.id, liked_post_id: params[:id]) %>
      <% if currently_liked %>
        <%= link_to "Unlike", like_path(like_id: currently_liked.id, post_id: params[:id]), method: :delete, class: "post-unlike" %>
      <% else %>
        <%= link_to "Like", likes_path(post_id: params[:id]), method: :post, class: "post-like" %>
      <% end %>
      <%= link_to "Comment", new_comment_path(post_id: params[:id]),
        class: "post-comment" %>
    </div>
  </div>

  <div class="post-comments">
    <% @post_comments.each do |comment| %>
      <div class="comment">
        <div class="comment-details">
          <p class="comment-author"><%= comment.user.first_name %> <%= comment.user.last_name %></p>
          <p class="comment-date"><%= time_ago_in_words(comment.created_at) %> ago</p>
        </div>
        <div class="comment-body">
          <p><%= comment.body %></p>
        </div>
        <div class="comment-options">
          <% if comment.user.id == current_user.id %>
            <%= link_to "Delete", comment_path(comment_id: comment.id, post_id: params[:id]), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>