<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/logo' unless current_user %>
    <%= render 'shared/navigation' if current_user %>
    <div class="notice">
      <p><%= notice %></p>
    </div>
    <div class="alert">
      <p><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
